@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oa2wgw');
  src:  url('fonts/icomoon.eot?oa2wgw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oa2wgw') format('truetype'),
    url('fonts/icomoon.woff?oa2wgw') format('woff'),
    url('fonts/icomoon.svg?oa2wgw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e914";
}
.icon-alarm:before {
  content: "\e910";
}
.icon-plus-alt:before {
  content: "\e91e";
}
.icon-out:before {
  content: "\e902";
}
.icon-in:before {
  content: "\e90b";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-chat:before {
  content: "\e909";
}
.icon-notice:before {
  content: "\e915";
}
.icon-megaphone:before {
  content: "\e905";
}
.icon-clipboard:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e904";
}
.icon-user-plus1:before {
  content: "\e916";
}
.icon-bell:before {
  content: "\e911";
}
.icon-user1:before {
  content: "\e908";
}
.icon-settings:before {
  content: "\e901";
}
.icon-content_copy:before {
  content: "\e919";
}
.icon-keyboard_arrow_right:before {
  content: "\e917";
}
.icon-keyboard_arrow_left:before {
  content: "\e918";
}
.icon-arrow_drop_down1:before {
  content: "\e90c";
}
.icon-arrow_drop_down:before {
  content: "\e907";
}
.icon-keyboard_arrow_up:before {
  content: "\e912";
}
.icon-arrow-left:before {
  content: "\e91b";
}
.icon-wallet:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e91c";
}
.icon-circle-with-cross:before {
  content: "\e91f";
}
.icon-check:before {
  content: "\e900";
}
.icon-plus-circle:before {
  content: "\e91d";
}
.icon-linkedin-square:before {
  content: "\e90f";
}
.icon-twitter:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90d";
}
.icon-user-circle-o:before {
  content: "\e90a";
}
.icon-question-circle-o:before {
  content: "\e903";
}
