$main-text: #fff;
$filter: drop-shadow(0px 3px 4px #000000);
$item-bg: #d6ecf4;
$item-special-bg: #b8e0f1;
$dark-color: #000;
$green: rgb(7 194 129);
$bg: #1a1a1a;
$special-text: #f4f4f4;
$inactive: #d72020;
$main-btn: linear-gradient(270deg, rgb(171, 102, 255) 0%, rgb(20, 241, 149) 101.39%);
$main-btn-hover: linear-gradient(270deg, rgb(20, 241, 149) 0%, rgb(171, 102, 255) 101.39%);
$block-grey: #3d3a3f;
$circle: #969497;
$row: #93b7cb;
$active: #509b63;
$pending: #ff6c00;
$bg-special: #c0d4db;
$plans-bg: #232325;
$shadow-popup: rgba(0, 0, 0, 0.6);