$color-background: linear-gradient(90deg, rgba(129,15,107,1) 0%, rgba(30,141,142,1) 100%);
$color-main: #fff;
$border: rgba(255, 255, 255, 0.5);
$header-background: rgba(255, 255, 255, 0.3);
$hover: #810fc4;
$hover-background: rgba(255, 255, 255, 0.2);
$color-not-allowed: rgba(64, 64, 64, 1);
$bg-not-allowed: rgba(128, 128, 128, 0.8);